extends layouts/main
include mixins/videoBlock

block content
    .home__wrapper
        .home__nav
            select(name="room", value=`${roomName}`)
                option(value=`${roomName}`) #{roomName}
                option(value="권씨네 가족", disabled) 권씨네 가족
                option(value="배드민턴 동호회 사람들", disabled) 배드민턴 동호회 사람들
        .home-title
            h6.home-videos__views=`총 ${videos.length}개의 스토리`
        .home__toolbar
            .home-search
                form(action=routes.search, method="get")
                    input(type="text", placeholder="스토리 제목으로 검색", name="name")
            .home-upload
                a(href=`/videos${routes.upload}`)
                    button 스토리를 올려보세요
        .home-videos
            each video in videos
                +videoBlock({
                    id: video.id,
                    type: video.type,
                    title: video.title,
                    views: video.views,
                    videoFile: video.fileUrl,
                })