extends layouts/main
include mixins/videoBlock

block content
    .home__wrapper
        .home-title
            h1.home-videos__title Family Holidays 2020         
            h6.home-videos__views=`${videos.length} Videos`
        .home__toolbar
            .home-search
                form(action=routes.search, method="get")
                    input(type="text", placeholder=`${searchQuery}`, name="name")
                a(href=routes.home)
                    i.fas.fa-times
            .home-upload
                a(href=`/videos${routes.upload}`)
                    button Upload Your Message
        if videos.length === 0
                h5#noSearchResult No Videos Found
        else
            .home-videos
                each item in videos
                    +videoBlock({
                        id: item.id,
                        title: item.title,
                        views: item.views,
                        videoFile:item.fileUrl,
                    })            