extends layouts/main 
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            img.avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if user.id === loggedUser.id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button Change Password
                a(href=`/users${routes.changePassword}`)
                    button.secondary Sign Out
        .home-rooms
            h1.home-rooms__title My Rooms
            .rooms
                h2.home-room__title Familly Holidays 2020
                h6.home-room__views 4 members
            .rooms
                h2.home-room__title Jung's Familly
                h6.home-room__views 8 members
            .rooms
                h2.home-room__title Colleagues at Acme
                h6.home-room__views 7 members