extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        .video-player__container
            +videoPlayer({
                src:video.fileUrl,
                type:video.type
            })
        .video-info__container
            .video__info
                .video__author
                    | From    
                    a(href=routes.userDetail(video.creator.id))=video.creator.name
                h5.video__title=video.title
                p.video__description=video.description
                if video.type != "image/jpg" && video.type != "image/jpeg" && video.type != "image/png"
                    if video.views === 1
                        span.video__views 조회수 1
                    else 
                        span.video__views 조회수 #{video.views}
                if loggedUser && video.creator.id === loggedUser.id    
                    a(href=routes.editVideo(video.id))
                        button 스토리 변경하기
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1개의 댓글
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                        |개의 댓글
            form.add__comment#jsAddComment
                input(type="text", placeholder="댓글을 적어보세요")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        .comment-wrapper
                            span=comment.text
                            a.comment__delete#jsDeleteComment
                                i.fa.fa-trash