mixin videoBlock(video = {})
    .videoBlock
        .videoBlock__wrapper
            a(href=routes.videoDetail(video.id))
                video.videoBlock__thumbnail(controls=true,width="300")
                    source(src=video.videoFile, type="video/mp4")
                img#video-envelope(src="test.png", alt="envelope")
                .videoBlock__infoContainer 
                    h4.videoBlock__title=video.title
                    h6.videoBlock__views=`${video.views} Views`
