header.header
    .header__wrapper
        .header__column
            a(href=routes.home)#logo-text Vreetings
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Sign In 
                else
                    li
                        a(href=routes.home) Rooms
                    li
                        a(href=routes.home) My Giftbox
                    li
                        a(href=routes.me) My Profile
                    li
                        a(href=routes.logout) Sign Out